@import url("https://fonts.cdnfonts.com/css/helvetica-neue-55");

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}
